{% extends 'base.html' %}

{% block content %}
<h2>Voeg nieuw product toe</h2>
<form action="/boodschappen/edit" method="post">
    <label for="barcode">Scan barcode:</label>
    <input type="text" id="barcode" name="barcode" value="{{ barcode }}" autofocus="on"><br>
    <label for="omschrijving">Omschrijving:</label>
    <input type="text" id="omschrijving" name="omschrijving" value="{{ omschrijving }}"><br>
    <label for="prijs">Prijs:</label>
    <input type="text" id="prijs" name="prijs" value="{{ prijs }}"><br>
    <br>

    <input type="submit" value="Submit">
</form>
{% endblock content %}

