{% extends 'base.html' %}

{% block content %}
<form action="/boodschappen" method="post">
    <label for="barcode">Scan barcode:</label>
    <input type="text" id="barcode" name="barcode" value autofocus="on"><br><br>

    <input type="radio" id="add" name="boodschappen_direct" value="add" checked>
    <label for="add">Toevoegen aan lijst</label><br>
    <input type="radio" id="css" name="boodschappen_direct" value="remove">
    <label for="remove">Verwijder van lijst</label><br>
    <input type="radio" id="javascript" name="boodschappen_direct" value="view">
    <label for="view">Opzoeken</label>

    <br>
    <input type="submit" value="Submit">
</form>

<br>
<h2>Boodschappen</h2>
<div>
    {% for boodschap in boodschappen %}
        <div class="boodschap">
            <b>{{ boodschap.aantal }}</b>
            <b>{{ boodschap.omschrijving }}</b>
            {{ boodschap.barcode }}
            <small>
                <a href="edit/{{ boodschap.id }}">Edit</a>
                <a href="delete/{{ boodschap.id }}">Delete</a>
            </small>
        </div>
    {% endfor %}
</div>
{% endblock content %}
