{% extends 'base.html' %}

{% block content %}
<head>
    <meta http-equiv="refresh" content="60; URL=/">
</head>

    <form action="/boodschappen" method="post">
        <label for="barcode">Scan barcode:</label>
        <input type="text" id="barcode" name="barcode" value autofocus="on"><br>
        <br>

        <input type="radio" id="add" name="boodschappen_direct" value="add" {{ boodschappen_direct_add }}>
        <label for="add">Toevoegen aan lijst</label><br>
        <input type="radio" id="remove" name="boodschappen_direct" value="remove" {{ boodschappen_direct_remove }}>
        <label for="remove">Verwijder van lijst</label><br>
        <input type="radio" id="view" name="boodschappen_direct" value="view" {{ boodschappen_direct_view }}>
        <label for="view">Opzoeken</label>

        <br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <h2>Boodschappen</h2>
    <div>
        <table id="boodschappen">
            <tr>
                <th>Aantal</th>
                <th>Product</th>
                <th>Prijs</th>
                <th>Barcode</th>
                <th>Functies</th>
            </tr>

            {% for boodschap in boodschappen %}
            <tr>
                <td><b>{{ boodschap.aantal }}</b></td>
                <td><b>{{ boodschap.omschrijving }}</b></td>
                <td><b>{{ boodschap.prijs}}</b></td>
                <td>{{ boodschap.barcode }}</td>
                <td>
                    <small>
                        <a href="/boodschappen/edit/{{ boodschap.id }}">Edit</a>
        <!--                <a href="/boodschappen/delete/{{ boodschap.id }}">Delete</a>    -->
                    </small>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

    <br>
    <h2>Upload CSV file</h2>
    <div>
        <form action="/boodschappen/upload_csv" method="post" enctype="multipart/form-data">
            <input type="file" id="upload_csv_file" name="upload_csv_file">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}
